* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
	width: 0;
}

body {
    width: 100vw;
    height: max(600px, 100vh);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #111111;
}

img {
    object-fit: cover;
}

.app {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.alert-box {
    z-index: 999;
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 0px;
    animation-name: fadeOut;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.alert {
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: red;
    color: white;
    text-align: center;
}

.alert-success {
    background-color: greenyellow;
    color: black;
}

.alert-error {
    background-color: red;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid gainsboro;
}

header img {
    width: 36px;
    height: 36px;
}

header ul.nav {
    height: 24px;
    display: flex;
    gap: 16px;
    align-items: center;
}

header ul.nav li {
    display: inline-block;
}

header ul.nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.form-container {
    width: 360px;
    height: 480px;
    border: 3px solid gainsboro;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-block: auto;
}

.form-container h1 {
    margin-top: 50px;
    font-size: 32px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.form-container fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
    border: 1px solid lightslategray;
    width: 240px;
    height: 32px;
    background-color: #f0f0f0;
    padding: 10px;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus,
.form-group input[type="email"]:focus {
    outline: none;
    border-color: black;
}

.form-group input[type="text"]:focus::placeholder,
.form-group input[type="password"]:focus::placeholder,
.form-group input[type="email"]:focus::placeholder {
    color: transparent;
}

.form-group textarea {
    resize: none;
    border: 1px solid lightslategray;
    width: 240px;
    height: 64px;
    background-color: #f0f0f0;
    padding: 10px;
}

.form-group textarea:focus {
    outline: none;
    border-color: black;
}

.form-group textarea:focus::placeholder {
    color: transparent;
}

.form-group input[type="file"] {
    width: 180px;
    margin-top: 10px;
}

.form-group input[type="submit"] {
    height: 32px;
    width: 240px;
    border: none;
    border-radius: 10px;
    background-color: #00c0ff;
    color: white;
    cursor: pointer;
}

.form-container small {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container small .line-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-container small .line-container .line {
    display: flex;
    flex-grow: 1;
    height: 2px;
    background-color: gray;
}

.form-container small .line-container p {
    font-weight: bold;
    color: gray;
}

.form-container small ul li {
    list-style: none;
}

.form-container small ul li a {
    text-decoration: none;
    color: #0080bb;
}

.form-container small ul li a:hover {
    text-decoration: underline;
}

.home-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.home-form-container fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.post-header {
    border-top: 1px solid gainsboro;
}

.post-header a {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    color: black;
    width: max-content;
}

.post-header img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid gainsboro;
}

.post > img,
.post > a img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    background-color: black;
}

.post-footer {
    padding: 0 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid gainsboro;
}

.post-footer .interactions {
    display: flex;
    gap: 20px;
    font-size: 1.8em;
}

.post-footer .interactions span:hover {
    cursor: pointer;
}

.post-footer .interactions #like-btn i.liked {
    color: #e44d4d;
}

.post-footer .interactions a:has(#comment-btn) {
    text-decoration: none;
    color: black;
}

.post-footer .interactions #comment-btn {
    display: inline-flex;
    justify-content: flex-start;
    transform: translateY(-2px);
}

.post-footer .username {
    font-weight: bold;
}

.post-footer a:has(.view-comments) {
    color: gray;
    font-size: medium;
    text-decoration: none;
}

.post-footer .post-date {
    color: gray;
    font-size: small;
}

.pagination-box {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin-block: 20px;
}

.pagination-box .pagination-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 300px;
    flex-wrap: wrap;
}

.pagination-box .page-circle {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px gray solid;
    text-decoration: none;
}

.pagination-box .page-circle:has(p.current) {
    border-color: black;
    background-color: lightgray;
}

.pagination-box .page-circle p {
    color: gray;
}

.pagination-box .page-circle p.current {
    color: black;
}

.profile-info {
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-info-top {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

.profile-photo {
    display: flex;
    flex: 25%;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
}

.profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid gainsboro;
}

.profile-stats {
    display: flex;
    flex: 75%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: larger;
    padding-bottom: 30px;
}

.profile-stat {
    width: max-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

p.stat-title {
    font-weight: bold;
    font-size: medium;
}

.bio-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: max-content;
    font-size: small;
}

.bio-container .fullname {
    font-size: 14px;
}

p.fullname {
    font-weight: bold;
}

#follow-btn {
    background-color: #00c0ff;
    color: white;
    width: 150px;
    height: 32px;
    padding: 5px;
    margin-block: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    user-select: none;
}

#follow-btn:hover {
    cursor: pointer;
}

#follow-btn.followed {
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    color: black;
}

a:has(.edit-profile) {
    text-decoration: none;
}

.edit-profile {
    background-color: gainsboro;
    border: 1px solid lightgray;
    color: black;
    width: 150px;
    height: 32px;
    padding: 5px;
    margin-block: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.profile-post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid gainsboro;
}

.profile-post {
    width: 133.3333px;
    height: 133.3333px;
    /* border: 1px solid white; */
    border: 1px solid gainsboro;
}

.profile-post img {
    width: 100%;
    height: 100%;
}

.comments-section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.comments-section-header {
    position: relative;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: center;
}

.comments-section-header a:has(span) {
    text-decoration: none;
    color: black;
}

.comments-section-header span {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.comments-section-header h1 {
    font-size: x-large;
    display: flex;
    justify-content: center;
    text-align: center;
}

.comments-section {
    width: 100%;
    margin-bottom: auto;
    font-size: small;
}

.comment {
    width: 100%;
    border-bottom: 1px solid gainsboro;
    display: flex;
    padding: 8px;
    gap: 5px;
}

a:has(.commenter-username) {
    text-decoration: none;
}

.commenter-username {
    font-weight: bold;
    color: black;
}

.comment-date {
    color: gray;
}

.commenter-profile-pic {
    width: 35px;
    height: 35px;
}

.commenter-profile-pic img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid gainsboro;
}

.comments-section-footer {
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gainsboro;
    padding: 10px;
}

.comments-section-footer .profile-pic {
    width: 35px;
    height: 35px;
}

.comments-section-footer .profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid gainsboro;
}

.comments-section-footer form {
    height: 30px;
    flex: 1;
    border: 1px solid gainsboro;
    margin: 10px;
    padding-inline: 12px;
    border-radius: 20px;
}

.comments-section-footer fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.comments-section-footer form input[type="text"] {
    height: 30px;
    width: auto;
    border: none;
    background-color: transparent;
    display: flex;
    flex: 1;
}

.comments-section-footer form input[type="text"]:focus {
    outline: none;
}

.comments-section-footer form input[type="text"]:focus::placeholder {
    color: transparent;
}

.comments-section-footer form input[type="submit"] {
    height: 30px;
    border: none;
    background-color: transparent;
    color: #00c0ff;
}

.comments-section-footer form input[type="submit"]:hover {
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

footer {
    width: 100%;
    padding-block: 10px;
    justify-self: center;
    border-top: 1px solid gainsboro;
}

footer p {
    text-align: center;
}