{% extends 'layout.html' %}

{% block content %}
    <div class="form-container">
        <h1>Create Post</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset class="">
                <div class="form-group">
                    {{ form.post_pic.label }}
                    {{ form.post_pic(class="") }}

                    {% if form.post_pic.error %}
                        <div class="">
                            {% for error in form.post_pic.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.caption(class="") }}

                    {% if form.caption.error %}
                        <div class="">
                            {% for error in form.caption.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            
                {{ form.submit(class="btn btn-outline-info") }}
            </fieldset>
        </form>
    </div>
{% endblock content %}