{% extends 'layout.html' %}

{% block content %}
    <div class="form-container">
        <h1>Login</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset class="">
                <div class="form-group">
                    {{ form.username(class="") }}

                    {% if form.username.error %}
                        <div class="">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password(class="") }}

                    {% if form.password.error %}
                        <div class="">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            
                {{ form.submit(class="btn btn-outline-info") }}
            </fieldset>
        </form>
        <small class="">
            <div class="line-container">
                <div class="line"></div>
                <p>OR</p>
                <div class="line"></div>
            </div>
            <ul>
                <li><a href="{{ url_for('forgot_password') }}">Forgot password?</a></li>
                <li><a href="{{ url_for('signup') }}">Don't have an account?</a></li>
            </ul>
        </small>
    </div>
{% endblock content %}