{% extends 'layout.html' %}

{% block content %}
    <div class="">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset class="">
                <legend class="">Login</legend>

                <div class="">
                    {{ form.username.label(class="") }}

                    {% if form.username.error %}
                        {{ form.username(class="") }}
                        <div class="">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="") }}
                    {% endif %}
                </div>

                <div class="">
                    {{ form.password.label(class="") }}

                    {% if form.password.error %}
                        {{ form.password(class="") }}
                        <div class="">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="">
                {{ form.submit(class="btn btn-outline-info") }}
                <small class="">
                    <a href="#">Lupa Kata Sandi?</a>
                </small>
                <small class="">
                    <a href="{{ url_for('signup') }}">Belum punya akun?</a>
                </small>
            </div>
        </form>
    </div>
{% endblock content %}