{% extends 'layout.html' %}

{% block content %}
    <div class="post-container">
        {% for post in posts %}
            <div id="{{ post.id }}" class="post">
                <div class="post-header">
                    <a href="{{ url_for('profile', username=post.posts_owner.username) }}">
                        <img src="{{ url_for('static', filename='images/profile_pics/' + post.posts_owner.profile_pic) }}" alt="Post Owner">
                        <p>{{ post.posts_owner.username }}</p>
                    </a>
                </div>
                {% if post.posts_owner.id == current_user.id %}
                    <a href="{{ url_for('edit_post', post_id=post.id) }}">
                        <img src="{{ url_for('static', filename='images/posts/' + post.photo) }}" alt="Post Image">
                    </a>
                {% else %}
                    <img src="{{ url_for('static', filename='images/posts/' + post.photo) }}" alt="Post Image">
                {% endif %}
                <div class="post-footer">
                    <div class="interactions">
                        <span id="like-btn" data-post-id="{{ post.id }}">
                            {% if current_user.id in post.likes | map(attribute='user_id') %}
                                <i class="fa fa-heart liked"></i>
                            {% else %}
                                <i class="fa fa-heart-o"></i>
                            {% endif %}
                        </span>
                        <a href="{{ url_for('comments', post_id=post.id) }}">
                            <span id="comment-btn" data-post-id="{{ post.id }}">
                                <i class="fa fa-comment-o"></i>
                            </span>
                        </a>
                    </div>
                    {% if post.likes | length == 1 %}
                        <p class="like-counter">1 like</p>
                    {% else %}
                        <p class="like-counter">{{ post.likes | length }} likes</p>
                    {% endif %}
                    <p><span class="username">{{ post.posts_owner.username }}</span> {{ post.caption }}</p>
                    {% if post.comments | length >= 1 %}
                        <a href="{{ url_for('comments', post_id=post.id) }}">
                            {% if post.comments | length == 1 %}
                                <p class="view-comments">View 1 comment</p>
                            {% endif %}
                            {% if post.comments | length > 1 %}
                                <p class="view-comments">View all {{ post.likes | length }} comments</p>
                            {% endif %}
                        </a>
                    {% endif %}
                    <p class="post-date">{{ parse_date(post.post_date, short=False) }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination-box">
        <div class="pagination-wrapper">
            {% for page_number in posts.iter_pages() %}
                <a href="{{ url_for('index', page=page_number) }}" class="page-circle">
                    {% if page_number == posts.page %}
                        <p class="current">{{ page_number }}</p>
                    {% else %}
                        <p>{{ page_number }}</p>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}