{% extends "layout.html" %}

{% block content %}
    <div class="profile-info">
        <div class="profile-info-top">
            <div class="profile-photo">
                <img src="../static/images/posts/4b42ead43b.png" alt="Profile Photo">
            </div>
            <div class="profile-stats">
                <div class="profile-stat">
                    <p class="stat-title">Posts</p>
                    <p class="stat-value">{{ -1 }}</p>
                </div>
                <div class="profile-stat">
                    <p class="stat-title">Followers</p>
                    <p class="stat-value">{{ -1 }}</p>
                </div>
                <div class="profile-stat">
                    <p class="stat-title">Following</p>
                    <p class="stat-value">{{ -1 }}</p>
                </div>
            </div>
        </div>
        <div class="bio-container">
            <p class="bio">Placeholder Text</p>
        </div>
    </div>
    <div class="profile-post-container">
        {% for post in posts %}
            <div class="profile-post">
                <img src="{{ url_for('static', filename='' + post.photo) }}" alt="Post Image">
            </div>
        {% endfor %}
    </div>
{% endblock content %}