{% extends 'layout.html' %}

    {% block content %}
        <div class="">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <fieldset class="">
                    <legend class="">Verification Reset Password</legend>
    
                    <div class="">
                        {{ form.new_password.label(class="") }}
    
                        {% if form.new_password.error %}
                            {{ form.new_password(class="") }}
                            <div class="">
                                {% for error in form.new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.new_password(class="") }}
                        {% endif %}
                    </div>
    
                    <div class="">
                        {{ form.confirm_new_password.label(class="") }}
    
                        {% if form.confirm_new_password.error %}
                            {{ form.confirm_new_password(class="") }}
                            <div class="">
                                {% for error in form.confirm_new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_new_password(class="") }}
                        {% endif %}
                    </div>
                    </div>
                </fieldset>
                <div class="">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    {% endblock content %}